<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Registration Form</title>
    <style>
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }
        
        body {
            font-family: Arial, sans-serif;
            background-color: #212121;
            color: #fff;
        }
        
        .form-container {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }
        
        .form-wrapper {
            width: 100%;
            max-width: 500px;
            padding: 40px;
            border: 1px solid #91f4fa;
            border-radius: 10px;
            background-color: #424242;
        }
        
        h1 {
            font-size: 32px;
            font-weight: bold;
            margin-bottom: 20px;
        }
        
        label {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 10px;
        }
        
        input[type=text] {
            display: block;
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border: none;
            outline: 1px solid #91f4fa;;
            border-radius: 5px;
            background-color: #616161;
            color: #fff;
        }
        
        input[type=submit] {
            display: block;
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 5px;
            background-color: #00c8ff;
            color: #000000;
            font-size: 18px;
            font-weight: bold;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="form-container">
        <div class="form-wrapper">
            <h1>Student Registration Form</h1>
            <form action="/register" method="POST">
                <label for="roll">Roll No.:</label>
                <input type="text" id="roll" name="roll">

                <label for="fname">First Name:</label>
                <input type="text" id="fname" name="fname">

                <label for="lname">Last Name:</label>
                <input type="text" id="lname" name="lname">

                <label for="department">Department:</label>
                <input type="text" id="department" name="department">

                <label for="scode">Subject Code:</label>
                <input type="text" id="scode" name="scode">

                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</body>
</html>
